<div class="container w-50">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, input_html: { maxlength: 30 } %>
      <%= f.input :movie_id, collection: Movie.all %>
      <%= f.submit %>
    <% end %>
    <%= link_to "Home", root_path %>
</div>
